language: rust
rust:
  - 1.42.0
  - stable
  - beta
  - nightly

jobs:
  fast_finish: true
  allow_failures:
    - rust: nightly

  include:
    - name: 'Rust: test with all features'
      rust: stable
      install:
        - cargo install cargo-hack
      script:
        - cargo hack test --feature-powerset
